/* stylelint-disable selector-class-pattern */
.selector {
  display: flex;
  width: 350px;
  height: 50px;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.selector__input {
  width: 210px;
  height: 100%;
  padding: 0 5px 0 20px;
  border: none;
  margin: 0;
  background: none;
  color: #202020;
  font: 400 normal 16px / normal Inter, sans-serif;
  outline: none;
}

.selector__divisor {
  width: 1px;
  height: 40px;
  background: #d9d9d9;
}

.selector__select {
  height: 100%;
  flex: 1 1 auto;
  padding-left: 40px;
  border: none;
  margin: 0;
  background: none;
  outline: none;
}
