.page {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: 0 auto;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 25px;
  background: green;
  border-radius: 15px;
}

.result_hidden {
  display: none;
}

.result_title {
  margin: 0;
  color: white;
}

.result__core {
  background: lightgreen;
}

.result__text {
  font-size: 20px;
}

.requests {
  display: flex;
  flex-direction: column;
}

.request {
  display: flex;
  flex-direction: column;
}

.request__core {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.request__method {
  padding: 5px;
  border-radius: 5px;
}

.request__method_get {
  background: lightgreen;
}

.button {
  width: fit-content;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  background: cornflowerblue;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background: royalblue;
}

.request__method_post {
  background: lightblue;
}

.textarea {
  width: 250px;
  height: 150px;
}

.request__method_put {
  background: lightsalmon;
}

.request__method_delete {
  background: pink;
}
