/* stylelint-disable selector-class-pattern */
.currency-info {
  display: flex;
  flex-direction: column;
}

.first-currency {
  margin: 0;
  color: #5e5e5e;
  font: 400 normal 16px / normal Inter, sans-serif;
}

.second-currency {
  margin: 0;
  color: #202020;
  font: 400 normal 24px / normal Inter, sans-serif;
}

.update-time {
  margin: 0;
  color: #5e5e5e;
  font: 400 normal 12px / normal Inter, sans-serif;
}

.currency-info__selector-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px;
}

.button {
  width: fit-content;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background: #1e65b7;
  color: #fff;
  font: 400 normal 16px / normal Inter, sans-serif;
}

.button:hover {
  background: #0b51a3;
}

.currency-info__button {
  align-self: flex-end;
  margin-top: 20px;
}
